
.work-sans-regular{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:1140px ;
  font-style:bold;
}

.list {
    list-style-type: none;
    display: flex;
    gap: 40px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 50px 70px;
}

.bold{
    font-weight: 600;
}

.bold-1{
    font-weight: 600;
}
.small{
    color:#8987A1 ;
}

.text{
   font-weight: 600; 
   font-size: 3rem;
}

.orenge{
    color: #E95A08;
}

.paragraph{
    color: #8987A1 ;
    font-size: 15px;
    justify-content: center;
}

.show{
    text-align: center;
    justify-content: center;
}

.navbar-2{
    display: flex;
    justify-content: space-between;
    margin: 20px 50px;
}

.flower{
    width:400px;
    height: auto;
}
.show{
    text-align: center;

}




.flower-card{
    margin: 20px 50px;
}
.card{
   text-align: center;
   justify-content: center;
}

.our-plants{
    font-size: 2.5rem;
}

.sample-flower{
  width: 100%;
  height: auto;
}
 
.sample-flower-image{
    border:1px solid wheat  ;
    border-radius: 5px;
}

.btn{
    width: 100%;
    height: 30px;
    color: white;
    background-color:#E95A08 ;
    border: 1px solid #E95A08 ;
    border-radius: 5px;
}

.lily, .usd{
    text-align: center;
}
.flex-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.spin{
    display: flex;
    margin: 50px 50px;
    margin-top: 100px;
}
.flower-store{
    width: 100%;
    height: auto;
}
.flower-plants{
    text-align: center;
    justify-content: center;
    margin: 50px 10px;
}
.plants-lover{
    font-size: 2.5rem; 
}



.logo-spin-2{
    width: 150px;
    height: auto;
    margin-top: -60px;
    margin-left: -100px;
}


.cols-rows{
    margin: 50px 50px;        
}
.picture-title{
    text-align: center;
}

.img-bloom{
 background-image:url(deal-bloom.png); 
 width: 200px; 
 height: 120px; 
 border-radius: 10px;
    
}

.img-ana{
    background-image:url(deal-ana.png); 
 width: 200px; 
 height: 120px; 
 border-radius: 10px;
}

.img-zabo{
      background-image:url(deal-zabo.png); 
 width: 500px; 
 height: 270px; 
 border-radius: 10px;
 margin-top: 18px; 
}

.image-flex{ 
    display: flex;
    gap: 20px;
    justify-content: center;
}

.Bloom{
    color: white;
    text-align: center;
    margin: 90px 0;
    font-size: 2.5rem;
}
.Bloom-1{
    color: white;
    text-align: center;
    padding: 35px 0;
}

.Bloom-2{
    color: white;
    text-align: center;
    padding: 35px 0;
}

.shop{
    font-size: 1.5rem;
    font-weight: 100;
    
}

.bg-img{
    background-image:url(news-letter-bg.png);
  width: 100%;
  height: auto;
    background-size: cover;
    background-position: center;
}
 
.email{
    width: 300px;
    height: 20px;
    border: 1px solid wheat;
   
}
.btn-2{
   color: white;
   background-color: #E95A08; 
   border: #E95A08;
   width: 100px;
   height: 25px;
   margin-left:-4px;

   
}
 .bunch{
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
 }
.text-email{
    text-align: center;
    padding-bottom: 150px;
    padding-top: 150px;
}



















/*responsive*/

@media screen and (max-width:576px) {
   .small,
   .bold-1{
    display: none;
   } 

   .navbar-2{
    flex-direction: column-reverse;
   } 
.image-flex{
    flex-direction: column;
     justify-content: center;
     margin-left: 60px;
    
}

.img-zabo{
    width:200px;
    height: 200px;
    margin-top: -4px;
}
.img-ana{
    width: 200px;
    height: 200px;
}
.img-bloom{
    width: 200px;
    height: 200px;
}
.Bloom{
    font-size: 1rem;
}
   
   .flex-card{
    grid-template-columns: repeat(2, 1fr);
   }
   .spin,
   .logo-spin-2{
    display: none;
   }
  
  .bg-img{
    margin: 0 10px;
  }
  
}